$font-body:   "Georgia";
$background-body:  #444;
$background-container:  #dedede;
$button-outline: 2px solid gray;
$button-focus: rgba(230,67,230,0.2);
$button-color: #fb5667;
$text-container: #fd5621;
$text-nodes: #000;
$logo-color: #21acde;
$logo-color-span: #acde21;
$task-font: 'Lobster', cursive;
$timer-font: 'Alfa Slab One', cursive;
$link-color:#ff33ff;