$font-body:   "Georgia";
$background-body:  #222;
$background-container:  #dedede;
$button-outline: 2px solid gray;
$button-focus: rgba(230,67,230,0.2);
$button-color: #fb5667;
$text-container: #fd5621;
$text-nodes: #000;
$logo-color: #21acde;
$logo-color-span: #acde21;
$task-font: 'Georgia', cursive;
$timer-font: 'Alfa Slab One', cursive;
$link-color:#ff33ff;
*{
   margin:0;
   padding:0;
}
body {
   background: $background-body;
   font-family: $font-body;
}


#home{
   text-align:center;    
   background:$background-container;
   width:60%;
   height: 100vh;
   padding:auto;
   margin: 0 auto;
   color: $text-container;
   .logo{
      font-size:1.5em;
      display:inline-block;
      padding:10px 20px;
      color:$logo-color;
      span{
         color:$logo-color-span;
      }
   } 
   .footer {
      color:$text-nodes;
      margin-top:50px;
      padding:20px;   
   }
}
h1,p{
   font-size:1.1em;
   color:$text-nodes;
}  
button{
   background-color:transparent;
   border-radius:20px;
   width:120px;
   height:40px;
   color:$button-color;
   margin-left:15px;
   padding: 5px 15px;
   border:1px solid $button-color;
   outline: none;
} 
button:focus{
   background-color:$button-focus;
}
button:active {
   outline: $button-outline;
}